.loanDetailsImage-container {
  height: 200;
  width: 100%;
  background-color: #f5f5f5;
}
.loanDetailTitle {
  font-size: 18;
}
.loanDetailText {
  font-size: 14;
  margin-bottom: 5;
  color: #666;
}
