<StackLayout class="loanDetails">
  <StackLayout class="loanDetails-Container"
    orientation="vertical">

    <StackLayout class="loanDetailsImage-container lightGrey-bg"
      orientation="vertical">
      <ActivityIndicator *ngIf="isLoading"
        [busy]="isLoading"
        class="loanDetailsImage-preloader">
      </ActivityIndicator>
      <Image [src]="detailsImageSrc"
        *ngIf="detailsImageSrc"
        class="loanDetailsImage">
      </Image>
    </StackLayout>

    <Border class="greyBorder"></Border>

    <StackLayout class="loanDetailsContent">
      <StackLayout class="loanAbout p20" >
        <Label textwrap="true"
          [text]="getFundingText()"
          class="loanDetailTitle size18 pb5"></Label>
        <Label [text]="'Loan to '+loan.use"
          textwrap="true"
          class="loanUse size16 kivaDarkGreen mb5"></Label>
        <Label [text]="loan.sector.name+' - '+loan.activity.name"
          textwrap="true"
          class="loanAbout-categories loanSectionLabel size10 deEmphasized upper"></Label>

        <Border class="greyBorder my20"></Border>

        <StackLayout orientation="vertical"
          class="loanInfo">
          <Label class="loanSectionLabel size10 deEmphasized upper pb5"
            text="Loan: "></Label>

          <StackLayout orientation="horizontal"
            class="pb5">
            <Label [text]="getPercentText()"
              class="kivaDarkGreen bold">
            </Label>
            <Label [text]="getProgressText()"
              class="loanDetailText size14 deEmphasized mb5 pt5">
            </Label>
          </StackLayout>
        </StackLayout>
        <progress-bar [goal]="loan.loanAmount.amount"
          [progress]="loan.fundedAmount.amount">
        </progress-bar>
        <StackLayout class="loanFunding mb10"
          orientation="horizontal">
          <Label [text]="getFundingPercent(loan.loanAmount.amount, loan.fundedAmount.amount) + ' funded by '"
            class="size12 deEmphasized">
          </Label>
          <Label [text]=" loan.borrowerCount + ' lender(s)'"
            class="size12 deEmphasized "></Label>
        </StackLayout>

        <Border class="greyBorder my20"></Border>

        <StackLayout orientation="horizontal">
          <Label text="Loan Amount: "
            class="loanDetailText size14 deEmphasized mb5"></Label>
          <Label [text]="'$' + loan.loanAmount.amount"
            class="loanDetailText size14 deEmphasized mb5"></Label>
        </StackLayout>

        <StackLayout orientation="horizontal">
          <Label text="Repayment Term: "
            class="loanDetailText size14 deEmphasized mb5"></Label>
          <Label [text]="loan.lenderRepaymentTerm + 'months'"
            class="loanDetailText size14 deEmphasized mb5"></Label>
        </StackLayout>

      </StackLayout>

      <Border class="greyBorder"></Border>

      <StackLayout class="loanBorrower p20">
        <StackLayout orientation="vertical"
          class="loanBorrower-name">
          <Label class="loanSectionLabel size10 deEmphasized upper pb5"
            text="About Loan: "></Label>
          <Label textwrap="true"
            [text]="loan.purpose"
            class="loanDetailText size14 deEmphasized mb5">
          </Label>
        </StackLayout>
      </StackLayout>

      <Border class="greyBorder"></Border>

      <StackLayout class="loanBusiness p20">
        <StackLayout orientation="vertical">
          <Label class="loanSectionLabel size10 deEmphasized upper pb5"
            text="About Business: "></Label>
          <Label textwrap="true"
            [text]="loan.businessName"
            class="loanDetailTitle size18 pb5">
          </Label>
          <Label textwrap="true"
            [text]="loan.businessDescription"
            class="loanDetailText size14 deEmphasized mb5">
          </Label>
        </StackLayout>
      </StackLayout>

    </StackLayout>

  </StackLayout>
</StackLayout>
