/*    Reference to platform specific global styles
        NativeScript uses the styles in
        platform.android.css or
        platform.ios.csss
        base on the platform the application is being built on    */
@import url("~/platform.css");

/*    Utility Styles
        styles rules that
        you want to keep consistent
        across all elements    */

/*    Type scale               */
.iconActionSize,
.size30 { font-size: 30; }
.h1,
.size18 { font-size: 18; }
.h2,
.size16 { font-size: 16; }
.h3,
.size14 { font-size: 14; }
.h4,
.size12 { font-size: 12; }
.h5,
.size10 { font-size: 10; }

/*    Type color              */
.kivaDarkGreen { color: #236133; }
.deEmphasized { color: #666; }
.white { color: #FFF; }

/*    Type appearance         */
.bold { font-weight: bold; }  /* Currently, native script only supports normal, bold */
.upper { text-transform: uppercase; }

/*    Inside spacing         */
.pt5 { padding-top: 5; }
.pb5 { padding-bottom: 5; }
.pl20 { padding-left: 20; }

.px5 {
  padding-right: 5;
  padding-left: 5; }
.px10 {
  padding-right: 10;
  padding-left: 10; }
.px15 {
  padding-right: 15;
  padding-left: 15; }

.py10 {
  padding-top: 10;
  padding-bottom: 10; }

.p5 { padding: 5; }
.p20 { padding: 20; }

/*    Outside spacing        */
.mt5 { margin-top: 5; }
.mt10 { margin-top: 10; }
.mt20 { margin-top: 50; }

.mb5 { margin-bottom: 5; }
.mb10 { margin-bottom: 10; }
.mb20 { margin-bottom: 50; }

.my20 {
  margin-top: 20;
  margin-bottom: 20; }

/*    zIndex positioning      */
.z1 { z-index: 1; }

/*    Borders                 */
.br2 { border-radius: 2; }  /*  used on smaller elements like the progress bar  */
.br3 { border-radius: 3; }  /*  used on larger elements like the loan image      */

.greyBorder {
  border-width: 0.5;
  border-color: #ddd; }

/*    Background colors       */
.kivaDarkGreen-bg { background-color: #236133; }
.kivaHighlightGreen-bg { background-color: #52D800; }
.white-bg { background-color: #fff; }
.lightGrey-bg { background-color: #f5f5f5; }
.grey-bg { background-color: #ccc; }
.imageFilter-bg { background-color: rgba(0, 0, 0, 0.2); }

/*    Material Icon fonts
        http://zavoloklom.github.io/material-design-iconic-font/icons.html
        add this class
        then add the icon identifier prefixed with &#x to the markup
        end with ;
        e.g. &#xf136;         */
.materialIcon { font-family: 'Material-Design-Iconic-Font'; }

/*    Positioning             */
.baseline { vertical-align: bottom; }
.alignLeft { text-align: left; }
.alignCenter { text-align: center; }
/*
      Component Styles
        component styles for
        global components not yet in component files and
        native component styles        */

/*    Native Action Bar Styles         */
ActionBar {
  background-color: rgba(35,97,51, 1);
  color: #fff;
  padding-top: 10; }

/*    Native list view styles   */
ListView { background-color: white; }

/*    ActionBar Styles        */
.leftActionItem {
  width: 20%;
  height: 100%; }
