.actionBar {
  height: 50;
  width: 100%; }
.actionBar-center { left: 30%; }
.actionBar-title { font-size: 18; }
.actionBarItem-withIcon {
  margin-top: 12;
  margin-left: 40;
  text-transform: none; }

/*      Override Utilities      */
.uppercaseReverse { text-transform: uppercase; }

Button {
  border-width: 1;
  border-color: transparent;
  background-color: transparent; }
