/*
  Filter List Styles
*/
.cityFilterModal {
  background-color: #236133;
}
.cityListHeading {
  text-transform: uppercase;
  font-size: 10;
  color: #666;
  border-bottom: 1px solid #ddd;
}
.cityListCurrent {
  background-color: #fff;
  border-radius: 2;
  border: 1px solid #ddd;
  margin-top: 25;
  margin-left: 25;
  margin-right: 25;
}