/*
  Filter List Styles
*/
.cityFilterModal {
  background-color: #236133;
}
.cityListHeading {
  text-transform: uppercase;
  font-size: 10;
  color: #666;
  border-bottom: 1px solid #ddd;
}
.cityList {
  border-radius: 2;
  border-width: 1;
  border-color: #ddd;
  margin-right: 25;
  margin-left: 25;
}
.cityListCurrent {
  background-color: #fff;
  border-radius: 2;
  border: 1px solid #ddd;
  margin-top: 25;
  margin-left: 25;
  margin-right: 25;
}
.cityListItem {
  border-top: 1px solid #ddd;
  font-size: 14;
  padding-left: 20;
  left: 50%;
  color: #333;
}
.modalActionBar {
  height: 70;
  padding-top: 10;
  padding-left: 15;
  padding-right: 15;
}
.closeModal {
  width: 16;
  height: 16;
  vertical-align: center;
  background-image: url('~/images/Close.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20;
  z-index: 1;
}
.modalTitle {
  color: #fff;
  text-align: center;
}
