<StackLayout orientation="vertical"
  class="cityFilterModal actionBarStatusBar">
    <DockLayout orientation="vertical"
      class="modalActionBar">
      <Button class="closeModal"
        dock="left"
        (tap)="selectFilter(null)">
      </Button>
      <Label text="Choose city"
        dock="right"
        textAlignment="center"
        class="modalTitle">
      </Label>
    </DockLayout>
    <ListView #filterList
      [items]="filters"
      (itemTap)="selectFilter($event)"
      row="0"
      class="cityList">
      <template #filter="item">
        <StackLayout class="city-filter">
          <Label [text]="filter" class="cityListItem"></Label>
        </StackLayout>
      </template>
    </ListView>
</StackLayout>