<StackLayout orientation="vertical"
  class="cityFilterModal">
  <AbsoluteLayout orientation="horizontal"
    class="modalActionBar">
    <Button class="close material-icon"
      text="&#xf136;"
      (tap)="selectFilter(null)"
      bottom="0">
    </Button>
    <Label text="Choose city"
      class="modalTitle">
    </Label>
  </AbsoluteLayout>
  <ListView #filterList
    [items]="filters"
    (itemTap)="selectFilter($event)"
    row="0"
    class="cityList">
    <template #filter="item">
      <StackLayout class="city-filter">
        <Label [text]="filter" class="cityListItem"></Label>
      </StackLayout>
    </template>
  </ListView>
</StackLayout>