<StackLayout orientation="vertical"
  class="cityFilterModal actionBarStatusBar kivaDarkGreen-bg">
  <AbsoluteLayout orientation="horizontal"
    class="actionBar px15">
    <Button class="leftActionItem-icon materialIcon leftActionItem size30 white z1 alignLeft"
      text="&#xf136;"
      (tap)="selectFilter(null)"
      bottom="0">
    </Button>
    <Label text="Choose city"
      class="actionBar-title actionBar-center actionBarItem-withIcon uppercaseReverse alignCenter white">
    </Label>
  </AbsoluteLayout>
  <ListView #filterList
    [items]="filters"
    (itemTap)="selectFilter($event)"
    row="0"
    class="cityList">
    <template #filter="item">
      <StackLayout class="cityFilter px5 py10">
        <Label [text]="filter.name"
          class="cityListItem size14 py10"></Label>
      </StackLayout>
    </template>
  </ListView>
</StackLayout>
