<StackLayout orientation="horizontal" class="loan">
  <StackLayout class="loanCardContent">
    <StackLayout class="loanAbout" >
      <Label [text]="loan.activity.name"
        textwrap="true"
        class="loanAbout-categories loanSectionLabel">
      </Label>
      <Label [text]="'Loan to '+loan.use" textwrap="true" class="loanUse"></Label>
    </StackLayout>

    <StackLayout class="loanProgress pb5">
      <StackLayout class="loanAmount" orientation="horizontal">
        <Label [text]="'$' + loan.loanAmount.amount"></Label>
        <Label text=" needed"></Label>
      </StackLayout>
      <progress-bar [goal]="loan.loanAmount.amount"
        [progress]="loan.fundedAmount.amount">
      </progress-bar>
      <StackLayout class="loanFunding pb5  "
        orientation="horizontal">
        <Label [text]="getFundingPercent(loan.loanAmount.amount, loan.fundedAmount.amount) + ' funded by '">
        </Label>
        <Label [text]=" loan.borrowerCount + ' lender(s)'"></Label>
      </StackLayout>
    </StackLayout>

    <StackLayout class="loanBorrower">
      <StackLayout orientation="horizontal" class="loanBorrower-name">
        <Label class="loanSectionLabel"
          text="Borrower: "></Label>
      </StackLayout>
      <StackLayout class="loanBorrower-location"
        orientation="horizontal" >
        <Label textwrap="true"
          [text]="getFundingText()"
          class="bold">
        </Label>
      </StackLayout>
    </StackLayout>

  </StackLayout>

  <AbsoluteLayout class="loanImage br3"
    horizontalAlignment="right"
    verticalAlignment="top">
    <Label class="loanImage-filter br3"
      top="0"
      left="0"
      width="100%"
      height="100%">
    </Label>
    <Image [src]="loan.image.src"
      class="br3"
      top="0"
      left="0"
      width="100%"
      height="100%"></Image>
  </AbsoluteLayout>

</StackLayout>
