
/*
  Loan Card Styles
*/

/* Ideally these will be put in an app scoped file
* not working for some reason */
.location-select-wrap {
  padding: 0;
  background-color: #52D800;
}
.location-select-button {
  background-color: transparent;
  border-width: 1;
  border-color: #52D800;
  color: white;
}