<StackLayout class="loans-page">
  <Label text="Loans" class="title"></Label>

  <!-- Filter bar -->
  <StackLayout class="filters-wrap">
    <StackLayout class="switch-wrap"
      orientation="horizontal"
      horizontalAlignment="stretch">
      <Button text="Clear City"
        (tap)="clearFilter()" horizontalAlignment="left">
      </Button>
      <Button text="Select City"
        (tap)="toggleShowFilters()" horizontalAlignment="right">
      </Button>
    </StackLayout>
    <StackLayout *ngIf="showFilters">
      <ListPicker #picker
        [items]="filters"
        [selectedIndex]="selectedFilterIndex"
        (selectedIndexChange)="onFilterChange(picker)">
      </ListPicker>
      <Button text="Apply" (tap)="applySelectedFilter()"></Button>
    </StackLayout>
  </StackLayout>

  <ListView [items]="LoansService.loans" id="loans-list" (loadMoreItems)="onLoadMore()">
    <template #loan="item">
      <loan-card [loan]="loan"></loan-card>
    </template>
  </ListView>

  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
  <Label text="No more loans" *ngIf="error"></Label>
</StackLayout>
